 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: url('http://www.ilikesleeping.com/umbraco/ImageGen.ashx?image=/media/16694/wrappingpaper_lowres.jpg&width=663&format=jpeg&compression=90');
  font-family: 'Coming Soon', cursive;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 750px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: RGBA(116, 157, 175, 1);
  border-radius: 6px;
  padding: 25px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: RGBA(43, 67, 3, 1);
    padding: 10px;
    text-align: center;
  }
}
input {
  width: 250px;
  border-radius: 1px;
}
li {
  list-style: none;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home, .add, .edit, .add2, .save, .delete {
  color: red;
  text-decoration: none;
  border: solid 1px;
  border-radius: 2px;
  padding: 3px;
  background-color: RGBA(205, 201, 170, 1);
}
input {
  border-radius: 2px;
  border: solid 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: RGBA(43, 67, 3, 1);
}
.inputFields {
  margin-top: 10px;
}
